Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env

# Custom
.vscode
temp

# We generate our DocC documentation on deploy with docgen.
# As such, ensure this folder never gets checked in -- the archives are huge.
Public/documentation
